00pre
10ansi
10go
10is
10vim
30base
35amazon
40fonts
40powerline
40zgen
45i3
45tmux
50clog
50docker
50fzf
50git
50goutils
50hhighlighter
50hiptext
50howdoi
50intellij
50jq
50latex
50souls
50taskwarrior
50thefuck
50vis
50vscode
50z
60sysdash
70weather
75sensors
80homedb
80prompt
90images
90laptop
90mist
90nethack
90technic
90wreck
97fortunes
98busybox
99post
60amazon-git
49blsd
